<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a6_dashboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.6_DashBoard">
        <activity
            android:name=".activities.Settings_Activity"
            android:theme="@style/Theme.Settings"
            android:exported="true" />
        <activity
            android:name=".activities.Restaurants_Activity"
            android:theme="@style/Theme.Restaurants"
            android:exported="true" />
        <activity
            android:name=".activities.Maps_Activity"
            android:theme="@style/Theme.Maps"
            android:exported="true" />
        <activity
            android:name=".activities.Gallery_Activity"
            android:theme="@style/Theme.Gallery"
            android:exported="true" />
        <activity
            android:name=".activities.Quizzes_Activity"
            android:theme="@style/Theme.Quizzes"
            android:exported="true" />
        <activity android:name=".activities.ResultadoActivity"
            android:theme="@style/Theme.Quizzes"
            android:exported="true"/>
        <activity
            android:name=".activities.EdadCanina_Activity"
            android:theme="@style/Theme.EdadCanina"
            android:exported="true" />
        <activity
            android:name=".activities.Amigos_Activity"
            android:theme="@style/Theme.Amigos"
            android:exported="true" />
        <activity
            android:name=".activities.Calculadora_Activity"
            android:theme="@style/Theme.Calculadora"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>